version: '2'

services:
  dashboard:
    image: overthefinishline.com/dashboard
    entrypoint:
      - '/usr/local/bin/overthefinishline-dashboard-exe'
    env_file: development.env
    environment:
      'ENVIRONMENT': 'Development'
      'CLIENT_PATH': '/client'
    ports:
      - 8001:8001
    depends_on:
      - database

  database:
    image: overthefinishline.com/database
    ports:
      - 5432
    env_file: development.env
    volumes:
      - database-data:/var/lib/postgresql/data

volumes:
  database-data: {}
