# Local configuration
*.env

# Compiled native files
/client/src/Native
/client/test/Native

# Artifacts
/client/build

# Testing
test.js

# Dependencies
/elm-stuff/build-artifacts
/elm-stuff/packages
/node_modules

# Elm Reactor
/elm.js
