# Compiled native files
/src/Native

# Artifacts
/public/application.js
/public/stylesheet.css

# Testing
/elm-stuff/test.js

# Dependencies
/elm-stuff/build-artifacts
/elm-stuff/packages
/node_modules

# Elm Reactor
/elm.js
