$enable-flex: true;
@import '../vendor/bootstrap/scss/bootstrap.scss';

html, body, #root, #container {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary {
    width: 80%;
    margin-bottom: 3rem;
    text-align: center;

    span {
        display: block;
    }
}
