$enable-flex: true;
@import '../vendor/bootstrap/scss/bootstrap.scss';

html, body, #root, #container {
    height: 100%;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}
