$enable-flex: true;
@import '../../vendor/bootstrap/scss/bootstrap';

html, body, #root, #container {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav.navbar {
    position: fixed;
    width: 100%;

    span:not(:first-child) {
        padding-left: $spacer-x;
    }

    .dropdown-menu {
        margin: 0;
    }
}

.sign-in {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;

    display: inline-block;

    span {
        padding-right: $spacer-x;
    }
}

.project-list {
    width: 400px;
    max-height: 10em;
    margin-top: 1em;
    overflow: scroll;
}

.summary {
    width: 80%;
    margin-bottom: 3rem;
    text-align: center;

    span {
        display: block;
    }
}

.details {
    td.link {
        padding: 0;

        > a {
            display: block;
            padding: 0.75rem;
            text-decoration: none;
        }
    }

    .old {
        color: $state-danger-text;
    }
}

.debug-log {
    display: none;
}
